/* Global Styles */
* {
  box-sizing: border-box;
  font-family: Mosk, sans-serif;
}

a,
a:active {
  color: lightseagreen;
  text-decoration: none;
}

a:hover {
  color: #f48480;
  font-weight: 600;
  border-bottom: 0.25rem solid salmon;
  transition: 0.25s all;
}

not: (a: active) {
  color: lightseagreen;
  text-decoration: none;
  transition: 0.25s all;
}

ol[class],
ul[class] {
  list-style: none;
}

h1 {
  font-size: 1.5rem;
}

h2,
h3 {
  margin: 0;
}

section {
  padding: 1.5rem 0;
}

body {
  margin-bottom: 0;
  min-width: 30rem;
}

/* Visually Hidden Utility */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/*
Center Utility keeps the items in the parent container centered.
*/
.center {
  /* ↓ Remove padding from the width calculation */
  box-sizing: content-box;
  /* ↓ The maximum width is the maximum measure */
  max-width: 75ch;
  /* ↓ Only affect horizontal margins */
  margin-left: auto;
  margin-right: auto;
  /* ↓ Apply the minimum horizontal space */
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Color Utilities */
.peach {
  background-color: #f5dcdc;
}

.orange {
  background-color: #c4aaff;
}

.green {
  background-color: #dcf5dc;
}

.beige {
  background-color: beige;
}

.purple {
  background-color: #f5dcf5;
}

.lightblue {
  background-color: lightblue;
}

/* Full Bleed Utility */
.full-bleed {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

/* Line Height Utility */
.line-height {
  line-height: 1.75rem;
}

.line-height-lg {
  line-height: 2.5rem;
}

/* Flex Utility */
.box-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Top Navigation Block */
header {
  /*   border-bottom: solid 2px turquoise; */
  /*   background-color: papayawhip; */
  position: fixed;
  top: 0;
  z-index: 999;
}

.nav {
  position: relative;
  margin-left: auto;
  display: flex;
}

/* .nav {
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-block-end: 0rem; 
  margin-block-start: 0rem; 
  padding-inline-start: 0rem; 
  border-top: solid 2px turquoise;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.nav > * {
  padding: 0.5rem;
  align-self: center;
}

/* @media screen and (min-width: 30rem) {
  .nav {
    position: relative;
    border-top: none;
    margin-left: auto;
  }
} */

/* Logo Block */
.logo img {
  max-width: 3rem;
}

@media screen and (min-width: 800px) {
  .logo img {
    max-width: 5rem;
  }
}

/* 
Hero Block 
Inspired from the switcher layout
*/
.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.hero > * {
  flex-grow: 1; /* 1 = flex items to take all horizontal space */
  flex-basis: calc((40rem - 100%) * 999);
}

.hero-img-container {
  background-color: lightgrey;
  border-radius: 30% 90% 30% 90% / 30% 30% 90% 30%;
}

.hero img {
  object-fit: cover;
  border-radius: 100%;
  width: 17rem;
  height: 17rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  transform: translate(1rem, -1rem);
}

.hero .cursive {
  font-family: Pacifico;
  font-style: cursive;
  font-weight: 400;
  color: salmon;
}

.hero .line-height-lg {
  margin-inline-start: 2rem;
  transform: translateY(-1rem);
}

section::after {
  clip-path: polygon(100% 100%, 100% 0, 0 0);
  background-color: blue;
}

/* .hero .text-shadow {
  filter: drop-shadow(0.05em 0.05em 0.1em grey);
} */

/* Source from: https://dev.to/gscode/10-cool-css-text-effects-3elk */
.highlight {
  display: inline-block;
  color: teal; /* #343434; */
  transition: color 250ms, text-shadow 250ms;
  text-decoration: none;
  /*   text-shadow: 0px 1px 0px rgba(255, 255, 255, 1); */
  position: relative;
  z-index: 0;
}
.highlight::after {
  position: absolute;
  z-index: -1;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 100%;
  height: 3px;
  background-color: teal; /* #343434; */
  transition: all 250ms;
}

.highlight:hover {
  color: white;
  /*   text-shadow: 0px 1px 0px salmon rgba(0, 0, 0, 1); */
}
.highlight:hover::after {
  height: 105%;
  width: 105%;
}

/* 
Skills Block
Inspired by Switcher Component
*/
.box-icon {
  text-align: center;
  font-size: 1.25rem;
  margin: 1rem;
  width: 5rem;
}

.box-icon > i {
  font-size: 2.75rem;
}

.box-icon > p {
  margin-block-end: 0;
}

.grid {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5em;
}

.skills {
  justify-content: space-evenly;
}

/* @media screen and (min-width: 30rem) {
  .skills {
    justify-content: space-evenly;
  }
} */

/* .skills .box-flex div {
  flex-basis: calc((30rem - 100%) * 999);
} */

/* @media screen and (max-width: 40rem) {
  .skills > h2 {
    display: flex;
    justify-content: center;
  }
  .skills > h2 > span {
    padding-left: 0.35rem;
  }
} */

/* Projects Block */
.projects {
}

/* .projects h3,
.projects h2 {
  margin-block-start: 0rem; 
} */

.projects > .box-flex {
  display: flex;
  flex-wrap: wrap;
}

.projects > .box-flex > * {
  flex-grow: 1;
  flex-basis: calc((30rem - 100%) * 999);
  margin: 1rem;
}

.projects > .box-flex > .proj-desc {
  margin-inline-start: 0;
}

.projects > .box-flex > .video {
  margin-inline-end: 0;
}

.flex-start {
  justify-content: flex-start;
}

.flex-start > div {
  padding: 0 0.5rem 0 0;
}

.flex-start > div > i {
  font-size: 1.25rem;
}

/* Credit to for the responsive iframe https://codepen.io/bmarshall511/pen/PBMOWa*/
.iframe-container {
  overflow: hidden;
  padding-top: 56.25%; /* 16:9*/
  position: relative;
  box-shadow: 5px 5px 5px grey;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* About Block */
.about {
  margin-block-start: 0;
}

/* .about > h2 {
  margin-block-start: 0;
} */

.about > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.about > div > * {
  flex-grow: 1; /* 1 = flex items to take all horizontal space */
  flex-basis: calc((30rem - 100%) * 999);
  margin: 1rem;
}

.about div > img {
  /*   margin-block-start: 0; /* fit to h2 user agent style margin */
  object-fit: cover;
  border-radius: 100%;
  width: 100%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.about > div > div {
  align-self: center;
}

.about > div > div > p {
  margin-block-start: 0;
}

div.about-image {
  background-color: teal;
  border-radius: 30% 70% 49% 51% / 58% 24% 76% 42%;
  margin-inline-start: 0;
}

/* Contact Component */
.contact-me {
  padding: 1.5rem 0 0.5rem 0;
  /*   background-color: teal;
  width: 30rem; */
}

/* .contact-me::before {
    content: ""; 
    height: 4rem;
position: fixed;
    width: 30rem;
  background-color: lightgrey;
  z-index: -1;
  transform: translate(-1rem,-1rem);
} */

/* Footer */
footer {
  padding: 1rem 0;
}

footer.box-flex {
  justify-content: center;
}
